#Heading1{
    color:blue
}
.Paragraph1{
    color:tomato
}
#Heading2{ 
 background-color: blue; color:white
}
.Heading1{background-color:red;color:black}
#Heading3{ 
    background-color: brown; color:blue
}
#Heading4{background-color:orange;color:white}
.Heading5{background-color:pink;color:black}
#Heading6{background-color:mediumaquamarine;color:black}
#Heading7{background-color:purple;color:white}
.Heading8{background-color:violet;color:greenyellow}
#Heading9{background-color:slateblue;color:white}
#Heading10{background-color:darksalmon;color:magenta}
.Heading11{background-color:red;color:blue}
#Heading12{background-color:black;color:white}

.first1{background-color: brown; color: white}
.second{background-color: orange; color: white}
.third{background-color: dodgerblue; color: white}
.first11{background-color: green; color: white}
.second1{background-color: gray; color: white}
.third1{background-color: slateblue; color: white}
.first111{background-color: violet; color: white}
.second11{background-color: lightgray; color: white}